/* tạo style cho thẻ div có id là mapid, 100vh => chiều cao là 100% màn hình */
#mapid {
    height: 100vh;
    margin-left: 69px;
    margin-top: -292px;
    z-index: 1;
}
#logo {
    margin-left: -80px !important;
    margin-right: 131px !important;
    margin-bottom: 50px !important;
    display: block;
    float: left;
}
#navbar {
    background-color: #0D503C !important;
    height: 60px;
    z-index: 10;
    display: block;
}
ul.menu li {
    border-right: 1px solid turquoise;
    width: 170px;
    text-align: center;
    float: left;
    list-style: none;
    text-decoration: none;
}

ul.menu > li > a:hover {
    color: #FFC107 !important;
    font-weight: bold !important;
}
ul.menu >li:hover ul.submenu{
    display: block;
}
ul.submenu {
    width: 170px;
    background-color: #0D503C;
    min-height: 150px;
    z-index: 5;
    position: absolute;
    display: none;
}
ul.submenu li {
    display: block;
    list-style: none;
    position: relative;    
}   
ul.submenu li a {
    text-decoration:none;
    color: white ;
    line-height: 30px !important;
    text-indent: -80px !important;
}
.text-end {
    margin-top: -6px !important;
    margin-bottom: 75px !important;
    margin-right: -70px !important;
    display: block;
    float: left;
}
#search {
    margin-top: -6px !important;
    margin-bottom: 75px !important;
    margin-left: 180px !important;
    display: block;
    float: left;
}
#earth {
     margin:auto !important;
     display: block;
     float: left;
}
.option3 {
    margin-left: 72px;
    margin-top: -286px;
}
